body {
    background-color: #cadef8;
}

img.banner {
    padding: 2px;
    position: relative;
    border: 1px solid blue;





}

div.banner {
    width: 75%;
    margin: auto;
    border: 1px solid black;
    float: right;

}



.product_display {
    border: 1px solid red;
    width: 200px;
    height: 200px;
    position: relative;
    float: left;
    margin: 10px;
   /* visibility: hidden;*/

}

.add_to_cart {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.prod_price, .prod_weight, .prod_name {
    text-align: center;
}

.prod_img {
    width: 200px;
    height: 200px;
}

.prod_img img {
    width: 100%;
    height:100%;
}

input.disp_name {
    width: 100%;
    outline: 0;
    border: 0;
    display: inline-block;
    text-align: center;
}




.total_price {
    width: 20%;
    position: relative;

}

.cart_disp {
   border: 1px dashed green;
    margin-botton: 30px;
}

.checkout_list {
    border: 0;
    background-color: #cadef8;
}

span.require_auth {
    color: red;
    font-weight: bold;
}

.checkout_name {


}

.checkout_quantity {

    text-align: center;

}



table {
    border-collapse: collapse;
}
td {
    padding: 4px 0 4px 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-collapse: collapse;
}

form.login {
    border: 1px solid yellow;
    width: 10%;
    float: left;
    clear: both;
}